<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-block">
                <div class="login">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                        <h3 class="ak-title">Login for Learning</h3>
                        <div class="space-20"></div>
                        <div class="form-group">
                            <input type="text" formControlName="username" class="form-control" placeholder="username">
                            <p class="error" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">This is required field</p>
                            <input type="password" formControlName="password" class="form-control" placeholder="password">
                            <p class="error" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">This is required field</p>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <button type="submit" class="primary-btn">Login</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" routerLink="/auth/signup" class="secondary-btn">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>