<nav class="navbar navbar-expand-md navbar-light">
  <a (click)="onRouteHome()" class="navbar-brand">Angular</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a (click)="onRouteHome()" class="nav-item nav-link active">Home</a>
          <p class="nav-item nav-link active">{{tabData?.name}}</p>
          <p class="nav-item nav-link active">{{tabSubData?.name}} {{tabSubData?.info}}</p>
      </div>
      <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link current-user">{{currentUser?.name}}</a>
          <a (click)="onLogout()" class="nav-item nav-link">Logout</a>
      </div>
  </div>
</nav>
