<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-block">
                <div class="login">
                    <button type="button" routerLink="/auth/login" class="secondary-btn">Back for Login</button>
                    <div class="space-20"></div>
                    <form>
                        <h3 class="ak-title">Signup for Learning</h3>
                        <div class="space-20"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your full name">
                            <input type="text" class="form-control" placeholder="Enter your username">
                            <input type="text" class="form-control" placeholder="Enter your email id">
                            <input type="password" class="form-control" placeholder="Enter your password">
                            <input type="password" class="form-control" placeholder="Enter your confirm password">
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <button type="submit" class="primary-btn">Signup</button>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>