<button [routerLink]="['/components']"  class="primary-btn"><< Back</button>
<div class="space-20"></div>
<div class="row">
  <div class="col-md-6">
    <div class="accordian-block">
      <div
        *ngFor="let item of accList; let i = index"
        (click)="onItemClick(i)"
        class="acc-item"
      >
        <div [ngClass]="{ active: item.active }" class="acc-item-header">
          {{ item.header }} {{ i + 1 }}
          <span>{{ item.active ? "-" : "+" }}</span>
        </div>
        <div *ngIf="item.active" class="acc-item-content">
          {{ item.content }} {{ i + 1 }}
        </div>
      </div>
    </div>
  </div>
</div>
